.btn:active,
.btn:focus {
    outline: none!important;
    box-shadow: none!important;
}
.carousel {
    width: 100%;
    height: 520px;
}
.carousel-indicators li {
    width: 12px!important;
    height: 12px!important;
    border-radius: 100%;
}
.btn-primary {
    background-color: #6E41E2!important;
    border: none;
}
.btn-outline-primary {
    border: 2px solid #6E41E2;
    color: #6E41E2;
}
.btn-outline-primary:hover {
    background-color: #6E41E2;
    border: 2px solid #6E41E2;
}
.carousel-indicators li.active {
    background-color: #6E41E2;
}
.carousel-control-prev-icon {
    background-image: url("../img/carousel/options/eva_arrow-ios-back-outline.png");
    transform: scale(3);
}
.carousel-control-next-icon {
    background-image: url("../img/carousel/options/eva_arrow-ios-forward-fill.png");
    transform: scale(3);
}
.overlay-black {
    background-color: rgba(0,0,0,0.44);
    width: 100%;
    height: 100%;
    padding: 9% 12%;
    color: #f4f4f4;
}
.main-heading {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 900;
    font-size: 56px;
}
.crl-img {
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.48);
    box-shadow: 0 8px 26px rgba(255,255,255,0.1);
    width: 448px;
}
section {
    padding: 25px 82px;
}
.news {
    background-color: #f4f4f4;

}
.section-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #1b1b1b;
    font-size: 40px;

}

.card {
    background: #fff;
    border-radius: 8px;
    margin: 5px;
    box-shadow: 0 4px 16px rgba(51, 51, 51, 0.08), 0 4px 4px rgba(51, 51, 51, 0.04);
}
.card-img-top {
    background: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.72) 93.75%), url("../img/1.jpg");
    background-size: cover;
    height: 140px;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.author-x {
    z-index: 1;
    margin-top: -42px;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    text-align: left;
    /* background-color: rgba(0,0,0,0.44); */
    color: #fff;
    overflow: auto;
    font-family: "Roboto";
    font-weight: 500;
}
.author-x span {
    margin-top: 15px;
    display: inline-block;
}
.author-x img {
    width: 52px!important;
    height: 52px;
    border-radius: 100%;
    border: 2px solid #fff;
    display: inline-block;
    margin: 5px;
}
.card-title {
    font-family: "Montserrat";
    font-size: 20px;
}
.card-text {
    font-family: "Roboto";
    font-size: 12px;
}

/* MEDIA QUERY  */
@media only screen and (max-width: 940px) {
    .crl-img {
        width: 320px;
    }
    .main-heading {
        font-size: 40px;
    }
}
@media only screen and (max-width: 574px) {
    .crl-img,
    .hider {
        display: none;
    }
    .main-heading {
        font-size: 40px;
    }
}
.h-tagline {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 17px;
}
.events {
    background: linear-gradient(180deg, rgba(17, 17, 17, 0.6) 0%, rgba(17, 17, 17, 0.72) 93.75%), url("../img/1.jpg");
    color: #fff;
    backgroun-size: cover;
}
.events .section-heading {
    color: #fff;
}
.events-card {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://uzlidep.uz/files/original/publication/592.jpg");
    color: #fff;
    height: 300px;
    width: 100%;
    height: 240px;
    background-size: cover;
    display: block;
    border-radius: 12px;
    padding: 7px;

}
.e-info {
    margin-top: 90px;
    padding: 5px;
    width: 54%;
}
.e-element {
    background: #fff;
    color: #1b1b1b;
    border-radius: 20px;
    padding: 4px;
    font-weight: 600;
    font-family: "Roboto";
    margin-top: 5px;
}
.e-element img {
    width: 120px;
    border-radius: 20px;
    margin-right: 5px;
}
